body {
    font-family: Georgia, serif;
    background-color: whitesmoke;
    margin: 20px;
 
}.container {
    background-color: lightblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    margin: 20px;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
    text-align: center;
    border: 5px solid #007bff;

    
}


.circle {
    background: #007bff;  
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 60px;
    margin: 0 auto 15px;
   
}

 h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}


 p {
    color: rgb(74, 4, 5);
    font-size: 14px;
    margin: 5px 0;
}


