body {
  font-family: sans-serif;
  text-align: center;
  background: whitesmoke;
}

header {
  background: rgb(153, 122, 255);
  color: white;
  padding: 30px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

.card {
  background: #b2ffe7;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
}

button {
  background: rgb(164, 135, 250);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
}
