.container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,));
    gap: 20px;
    padding: 30px 0;
}

.card {
    background: lightskyblue;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px;
    text-align: center;
    transition: 0.3s;
    
}


.circle {
    width: 70px;
    height: 70px;
    background: #007bff;  
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;
}


.card p {
    color: rgb(74, 4, 5);
    font-size: 16px;
}


