body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    row-gap: 5px;
    flex-direction: column-reverse;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.box {
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;   
}

.box1 {background-color: lightcoral;}
.box2 {background-color: lightsalmon;}
.box3 {background-color: lightseagreen;}
.box4 {background-color: lightsalmon;}
.box5 {background-color: lightcoral;}

